.fog {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.fog .absolute-bg {
  background-image: url("../index-img/town.jpg");
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: contain;
  height: 100vh;
  margin: 0;
  width: 100%;
  opacity: 0.5;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: bg 3s linear infinite;
  animation-direction: alternate;
}

@media (max-width: 445px) {
  .fog .absolute-bg {
    transform: scale(3.5);
  }
}

.fog .fog-container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fog .fog-container .first-img {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog .fog-container .second-img {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 40s linear infinite;
}

.fog .fog-container .fog-img {
  width: 20000px;
  height: 100vh;
}

@media (max-width: 445px) {
  .fog .fog-container .fog-img {
    height: 100%;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes bg {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fog .symbol {
  background-image: url(../symbol/sl.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 85px;
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0;
}

.play-music {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 50;
}

.music-animation {
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  position: relative;
  top: -5px;
}

.music-animation.on .bar {
  animation: bar 1.2s infinite;
}

.music-animation.on .bar2 {
  animation-delay: 0.1s;
}

.music-animation.on .bar3 {
  animation-delay: 0.2s;
}

.music-animation.on .bar4 {
  animation-delay: 0.3s;
}

.music-animation.on .bar5 {
  animation-delay: 0.4s;
}

.music-toggle {
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.music-toggle:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: white;
  position: absolute;
  transition: 0.2s;
}

.music-toggle:hover:after {
  width: 100%;
}

.bar {
  width: 1px;
  background-color: white;
  height: 2px;
  display: block;
  margin: 0 1px;
}

@keyframes bar {
  0% {
    height: 4px;
  }
  50% {
    height: 14px;
  }
  100% {
    height: 4px;
  }
}

.menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 445px) {
  .menu {
    display: flex;
  }
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.grid--item {
  position: relative;
  margin-top: -75px;
  margin-right: 5px;
  margin-left: 5px;
  width: calc(33.33% - 10px);
  float: left;
  transition: all 0.5s;
  overflow: hidden;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.grid--item:before {
  display: block;
  padding-top: 112.5%;
  content: "";
}

.grid--item:nth-child(1), .grid--item:nth-child(2) {
  margin-top: 0;
}

.grid--item:nth-child(7n - 1), .grid--item:nth-child(1) {
  margin-left: 164px;
}

@media screen and (max-width: 1024px) {
  .grid--item {
    margin-top: -45px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .grid--item:nth-child(7n - 1), .grid--item:nth-child(1) {
    margin-left: 118px;
  }
}

@media screen and (max-width: 768px) {
  .grid--item {
    margin-top: -35px;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .grid--item:nth-child(7n - 1), .grid--item:nth-child(1) {
    margin-left: 90px;
  }
}

@media screen and (max-width: 445px) {
  .grid--item {
    margin-top: -15px;
  }
}

@media screen and (max-width: 445px) and (max-width: 445px) {
  .grid--item:nth-child(7n - 1), .grid--item:nth-child(1) {
    margin-left: 53px;
  }
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  transition: opacity 0.5s;
}

.img:before {
  background: rgba(128, 0, 128, 0.25);
}

.img:after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;
  text-align: center;
  color: white;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.5s;
  shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.container h1,
.container h2 {
  font-family: "Arapey";
  font-style: italic;
  font-weight: 400;
}

.container h1 {
  margin-top: 90px;
  text-align: center;
  font-size: 56px;
  color: #242424;
}

.container h2 {
  font-size: 32px;
}

.container:before, .container:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.75em;
  height: 0.03em;
  background: turquoise;
  content: "";
  vertical-align: middle;
  transition: all 0.3s;
}

.desc {
  margin: 1em 0 0;
  font-family: "ATC Overlook";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.5;
  color: turquoise;
}

.grid--item:hover .img:before,
.grid--item:hover .img:after,
.grid--item:hover .container {
  opacity: 1;
}

.grid--item:hover .container {
  transform: translate(-50%, -50%) scale(1);
}

.detail-div, .detail-div2, .detail-div3, .detail-div4, .detail-div5 {
  z-index: 1;
}

h4 {
  z-index: 2;
}

.contact {
  z-index: 3;
}

section img:hover {
  transform: scale(1.2);
}

* {
  color: #fff;
  font-family: "Arapey";
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  min-width: fit-content;
}

::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000;
}

section img {
  width: 100%;
  transition-duration: 0.4s;
}

@media (max-width: 768px) {
  section img {
    width: 80%;
  }
}

@media (max-width: 445px) {
  section img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  section {
    min-height: 85vh;
  }
}

section:nth-child(6) {
  min-height: 70vh;
}

section:nth-child(7) {
  min-height: 70vh;
}

.detail-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: ". p1w p1w p1 p1 .";
}

@media (max-width: 768px) {
  .detail-div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas: ". p1w p1w p1w p1w ." ". p1 p1 p1 p1 .";
  }
}

.detail-div2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: ". p2 p2 p2w p2w .";
}

@media (max-width: 768px) {
  .detail-div2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas: ". p2w p2w p2w p2w ." ". p2 p2 p2 p2 .";
  }
}

.detail-div3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: ". p3w p3w p3 p3 .";
}

@media (max-width: 768px) {
  .detail-div3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas: ". p3w p3w p3w p3w ." ". p3 p3 p3 p3 .";
  }
}

.detail-div4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: ". p4 p4 p4w p4w .";
}

@media (max-width: 768px) {
  .detail-div4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas: ". p4w p4w p4w p4w ." ". p4 p4 p4 p4 .";
  }
}

.detail-div5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: ". p5w p5w p5 p5 .";
}

@media (max-width: 768px) {
  .detail-div5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas: ". p5w p5w p5w p5w ." ". p5 p5 p5 p5 .";
  }
}

.detail-pos {
  width: 100%;
  overflow: hidden;
}

.text-area {
  grid-area: p1w;
}

.text-area2 {
  grid-area: p2w;
}

.text-area3 {
  grid-area: p3w;
}

.text-area4 {
  grid-area: p4w;
}

.text-area5 {
  grid-area: p5w;
}

.fig {
  z-index: 1;
  max-width: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .fig {
    min-height: 90vh;
  }
}

.fig-p1 {
  grid-area: p1;
}

.fig-p2 {
  grid-area: p2;
}

.fig-p3 {
  grid-area: p3;
}

@media (max-width: 768px) {
  .fig-p3 {
    min-height: 65vh;
  }
}

.fig-p4 {
  grid-area: p4;
}

@media (max-width: 768px) {
  .fig-p4 {
    min-height: 65vh;
  }
}

.fig-p5 {
  grid-area: p5;
}

.detail-div h1 {
  margin-bottom: 20px;
  color: red;
}

.btn {
  background-color: #5550;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 0.5px #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: #d3d3d354;
}

.dark-header {
  background-color: #5f5f5f75;
  color: white;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 20px;
  opacity: 1;
  transition: 0.6s;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: "logo navlist navlist navlist navlist navlist";
}

@media (max-width: 445px) {
  .dark-header {
    grid-template-areas: "logo . . . navlist navlist";
  }
}

.dark-header .brand-logo {
  grid-area: logo;
  width: 100%;
}

.dark-header .brand-logo .logo {
  width: 50px;
  margin-right: 0.5rem;
}

.dark-header .content {
  grid-area: navlist;
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.dark-header .content .main-nav {
  display: inline-flex;
}

.dark-header .content .main-nav .ul-nav {
  color: red;
}

@media (min-width: 445px) {
  .dark-header .content .main-nav .ul-nav {
    display: flex;
  }
}

@media (max-width: 445px) {
  .dark-header .content .main-nav .ul-nav {
    display: none;
  }
}

.dark-header .content .main-nav .ul-nav li {
  display: inline;
  margin-left: 1rem;
  cursor: pointer;
  margin: 5px 25px 5px 5px;
  color: red;
  transition: 0.2s;
}

.dark-header .content .main-nav .ul-nav li:hover {
  font-size: 1.5rem;
}

.home-div {
  height: 80vh;
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: ". welcome welcome welcome welcome .";
}

.home-div .welcome {
  grid-area: welcome;
  z-index: 1;
  display: flex;
  padding-bottom: 200px;
  justify-content: center;
  flex-direction: column;
  color: #ffc;
  font-weight: bolder;
  opacity: 1;
}

.home-div .welcome .h4-title {
  margin: 0;
}

.home-div .welcome .h1-title {
  font-size: 3rem;
  letter-spacing: 10px;
  margin: 0;
  margin-top: 0;
  text-align: left;
  font-size: 3rem;
}

.photo {
  grid-area: h1;
  padding-bottom: 10vh;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: ". h1 h1 h1 . ." ". photo photo photo photo .";
}

.photo .welcome {
  grid-area: h1;
}

.photo .welcome .h1-title {
  grid-column: span 6;
  font-size: 4rem;
  z-index: 2;
}

.photo .photo-div {
  grid-area: photo;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #fff;
  position: relative;
  background-color: #414141c9;
}

.contact ul {
  padding: 0;
  display: inline-flex;
}

.contact ul li {
  display: inline;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .contact {
    height: 100%;
  }
}

.lineBtn span {
  display: none;
}
/*# sourceMappingURL=index.css.map */