@import "./music.scss";
@import "./hexagon.scss";

$pagewordColor: #fff;
$lp1024 : 1024px;
$tb768 : 768px;
$mb445 :445px;
$mb375 : 375px;

%z1 {
 z-index: 1;
}
%z2 {
 z-index: 2;
}
%z3 {
 z-index: 3;
}

%sp {
 transform: scale(1.2);
}

* {
 color: $pagewordColor;
 font-family: "Arapey";
}
a {
 text-decoration: none;
}

html {
 box-sizing: border-box;
 min-width: fit-content;
}
::-webkit-scrollbar {
 display: none;
}

*,
*:before,
*:after {
 box-sizing: inherit;
}

@mixin grid {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 gap: 20px;
 @content;
}

section {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 background-color: #000;
 img {
  width: 100%;
  transition-duration: 0.4s;
  &:hover{
   @extend %sp;
  }
  @media (max-width:$tb768){
   width: 80%;
  }
  @media (max-width:$mb445){
   width: 100%;
  }
 }
 @media (max-width:$lp1024){
  min-height: 85vh;
 }

}

section:nth-child(6) {
 min-height: 70vh;
}

section:nth-child(7) {
 min-height: 70vh;
}

h4 {
 @extend %z2;
}

.detail-div {
 @include grid {
  grid-template-areas: ". p1w p1w p1 p1 .";
 }
 @extend %z1;

 @media (max-width:$tb768){
  @include grid {
  grid-template-areas: 
  ". p1w p1w p1w p1w ."
  ". p1 p1 p1 p1 .";
 }
 }
 
}

.detail-div2 {
 @include grid {
  grid-template-areas: ". p2 p2 p2w p2w .";
 }
 @extend %z1;
 @media (max-width:$tb768){
  @include grid {
  grid-template-areas: 
  ". p2w p2w p2w p2w ."
  ". p2 p2 p2 p2 .";
 }
 }
}

.detail-div3 {
 @include grid {
  grid-template-areas: ". p3w p3w p3 p3 .";
 }
 @extend %z1;
 @media (max-width:$tb768){
  @include grid {
  grid-template-areas: 
  ". p3w p3w p3w p3w ."
  ". p3 p3 p3 p3 .";
 }
 }
}

.detail-div4 {
 @include grid {
  grid-template-areas: ". p4 p4 p4w p4w .";
 }
 @extend %z1;
 @media (max-width:$tb768){
  @include grid {
  grid-template-areas: 
  ". p4w p4w p4w p4w ."
  ". p4 p4 p4 p4 .";
 }
 }
}

.detail-div5 {
 @include grid {
  grid-template-areas: ". p5w p5w p5 p5 .";
 }
 @extend %z1;
 @media (max-width:$tb768){
  @include grid {
  grid-template-areas: 
  ". p5w p5w p5w p5w ."
  ". p5 p5 p5 p5 .";
 }
 }
}

.detail-pos {
 width: 100%;
 overflow: hidden;
}

.text-area {
 grid-area: p1w;
}

.text-area2 {
 grid-area: p2w;
}

.text-area3 {
 grid-area: p3w;
}

.text-area4 {
 grid-area: p4w;

}

.text-area5 {
 grid-area: p5w;
 
}

.fig {
 z-index: 1;
 max-width: 100vh;
 overflow: hidden;
 @media (max-width:$tb768){
  min-height: 90vh;
 }
}

.fig-p1 {
 grid-area: p1;

}

.fig-p2 {
 grid-area: p2;
}

.fig-p3 {
 grid-area: p3;
 @media (max-width:$tb768){
  min-height: 65vh;
 }
}

.fig-p4 {
 grid-area: p4;
 @media (max-width:$tb768){
  min-height: 65vh;
 }
}

.fig-p5 {
 grid-area: p5;
}

.detail-div h1 {
 margin-bottom: 20px;
 color: red;
}

.btn {
 background-color: #5550;
 color: $pagewordColor;
 font-size: 16px;
 padding: 12px 24px;
 border: solid 0.5px $pagewordColor;
 cursor: pointer;
 border-radius: 5px;
 text-align: center;
 &:hover {
  background-color: #d3d3d354;
 }
}



//-------------nav----------

.dark-header {
 background-color: #5f5f5f75;
 color: white;
 position: sticky;
 top: 0;
 z-index: 3;
 padding: 20px;
 opacity: 1;
 transition: 0.6s;
 @media (max-width:$mb445){
  grid-template-areas: "logo . . . navlist navlist";
 }
 @include grid {
  grid-template-areas: "logo navlist navlist navlist navlist navlist";
 }
 



 .brand-logo {
  grid-area: logo;
  width: 100%;
  .logo {
   width: 50px;
   margin-right: 0.5rem;
  }
 }
 .content {
  grid-area: navlist;
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  .main-nav {
   display: inline-flex;
  
   .ul-nav {
    color: red;
    @media (min-width:$mb445){
     display: flex;
    }
    @media (max-width:$mb445){
     display: none;
    }
    li {
     display: inline;
     margin-left: 1rem;
     cursor: pointer;
     margin: 5px 25px 5px 5px;
     color: red;
     transition: 0.2s;
     &:hover{
      font-size: 1.5rem;
     }
    }
   }
  }
 }
}

//-------------home--------

.home-div {
 height: 80vh;
 width: 100%;
 align-items: center;
 @include grid {
  grid-template-areas: ". welcome welcome welcome welcome .";
 }
 .welcome {
  grid-area: welcome;
  z-index: 1;
  display: flex;
  padding-bottom: 200px;
  justify-content: center;
  flex-direction: column;
  color: #ffc;
  font-weight: bolder;
  opacity: 1;
  .h4-title {
   margin: 0;
  }

  .h1-title {
   font-size: 3rem;
   letter-spacing: 10px;
   margin: 0;
   margin-top: 0;
   text-align: left;
   font-size: 3rem;

  }
 }
}

//-------------photo
.photo {
 grid-area: h1;
 
 padding-bottom: 10vh;
 justify-content: center;
 .welcome{
  grid-area:h1;
  .h1-title{
   grid-column: span 6;
   font-size:4rem;
   z-index: 2;
  }
 }
 @include grid {
  grid-template-areas: 
  ". h1 h1 h1 . ."
  ". photo photo photo photo .";
  .photo-div {
   grid-area:photo;
  }
  
 }
}

//--------------footer


.contact {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 20vh;
 background-color: $pagewordColor;
 @extend %z3;
 position: relative;
 background-color: #414141c9;
 ul{
  padding: 0;
  display: inline-flex;
  li{
   display: inline;
   padding:0 20px;
  }
 }
 @media (max-width:$lp1024){
  height: 100%;
 }
}
.lineBtn {
 span{
  display: none;

 }
}
// .share {
 
//  span{
//   display: block;
//  }
// }