$lp1024 : 1024px;
$tb768 : 768px;
$mb445 :445px;
$mb375 : 375px;


.fog {
 position: fixed;
 width: 100%;
 height: 100%;
 background-color: #000;

 .absolute-bg {
  background-image: url("../index-img/town.jpg");
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: contain;
  height: 100vh;
  margin: 0;
  width: 100%;
  opacity: 0.5;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: bg 3s linear infinite;
  animation-direction: alternate;
  @media (max-width:$mb445){
    transform: scale(3.5);
   }
}
 .fog-container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .first-img {
   background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
   background-size: contain;

   background-position: center;
   animation: marquee 60s linear infinite;
  }

  .second-img {
   background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png") repeat-x;
   background-size: contain;
   background-position: center;
   animation: marquee 40s linear infinite;
  }
  .fog-img {
   width: 20000px;
   height: 100vh;
   @media (max-width:$mb445){
    height: 100%;
   }
  

   @keyframes marquee {
    0% {
     transform: translate3d(0, 0, 0);
    }
    100% {
     transform: translate3d(-200vw, 0, 0);
    }
   }
   @keyframes bg {
    0% {
     opacity: 0.5;
    }
    100% {
     opacity: 1;
    }
   }
  }
 }
 .symbol {
  background-image: url(../symbol/sl.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 85px;
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0;
 }
}

.play-music {
 display: flex;
 position: fixed;
 bottom: 50px;
 right: 50px;
 z-index: 50;
}

.music-animation {
 display: flex;
 margin-right: 10px;
 align-items: flex-end;
 position: relative;
 top: -5px;
 &.on {
  .bar {
   animation: bar 1.2s infinite;
  }
  .bar2 {
   animation-delay: 0.1s;
  }
  .bar3 {
   animation-delay: 0.2s;
  }
  .bar4 {
   animation-delay: 0.3s;
  }
  .bar5 {
   animation-delay: 0.4s;
  }
 }
}
.music-toggle {
 cursor: pointer;
 font-size: 20px;
 position: relative;
 &:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: white;
  position: absolute;
  transition: 0.2s;
 }
 &:hover:after {
  width: 100%;
 }
}
.bar {
 width: 1px;
 background-color: white;
 height: 2px;
 display: block;
 margin: 0 1px;
}

@keyframes bar {
 0% {
  height: 4px;
 }
 50% {
  height: 14px;
 }
 100% {
  height: 4px;
 }
}

//-----navbar menu

.menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  @media (max-width:$mb445){
    display: flex;
   }
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
