$lp1024 : 1024px;
$tb768 : 768px;
$mb445 :445px;
$mb375 : 375px;
$pagewordColor: #fff;

%z1 {
  z-index: 1;
 }
 %z2 {
  z-index: 2;
 }
 %z3 {
  z-index: 3;
 }
* {
  color: $pagewordColor;
  
  font-family: "Arapey","Microsoft YaHei";
  
 }
 a {
  text-decoration: none;
 }
::-webkit-scrollbar {
  display: none;
}

%bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: contain;
  height: 100vh;
  margin: 0;
  width: 100%;
  opacity: 0.5;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
 }
 @mixin grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  @content;
 }

 a {
  text-decoration: none;
 }
 
 html {
  box-sizing: border-box;
  min-width: fit-content;
 }



 .open{
  min-height: 100% !important;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 4;
  .symbol {
    background-image: url(../symbol/sl.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
    width: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0;
    
   }
}



.fog {

 position: fixed;
 width: 100%;
 height: 100%;
 background-color: #000;
 .bg1{
  @extend %bg;
  background-image: url("../index-img/town.jpg");
  animation: bg1 3s linear infinite;
  animation-direction: alternate;
 }
 .bg2{
  @extend %bg;
  background-image: url("../index-img/rust.jpg");
  animation: bg2 3s linear infinite;
  animation-direction: alternate;
 }
 .absolute-bg {

  @media (max-width:$mb445){
    transform: scale(3.5);
   }
   
}

 .fog-container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .first-img {
   background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
   background-size: contain;

   background-position: center;
   animation: marquee 60s linear infinite;
  }

  .second-img {
   background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png") repeat-x;
   background-size: contain;
   background-position: center;
   animation: marquee 40s linear infinite;
  }
  .fog-img {
   width: 20000px;
   height: 100vh;
   @media (max-width:$mb445){
    height: 100%;
   }
  

   @keyframes marquee {
    0% {
     transform: translate3d(0, 0, 0);
    }
    100% {
     transform: translate3d(-200vw, 0, 0);
    }
   }
   @keyframes bg1 {
    0% {
     opacity: 0.5;
    }
    100% {
     opacity: 1;
    }
   }
   @keyframes bg2 {
    0% {
     opacity: 0.1;
    }
    100% {
     opacity: 0.5;
    }
   }
  }
 }

 
 
 
}


//-------------nav----------

.dark-header {
  background-color: #5f5f5f75;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px;
  opacity: 1;
  transition: 0.6s;
  @media (max-width:$mb445){
   grid-template-areas: "logo . . . navlist navlist";
  }
  @include grid {
   grid-template-areas: "logo navlist navlist navlist navlist navlist";
  }
  
 
 
 
  .brand-logo {
   grid-area: logo;
   width: 100%;
   .logo {
    width: 50px;
    margin: 0.5rem;
    
   }
  }
  .content {
   grid-area: navlist;
   width: 100%;
   padding-right: 10px;
   display: flex;
   justify-content: flex-end;
   .main-nav {
    display: inline-flex;
   
    .ul-nav {
     color: red;
     @media (min-width:446px){
      display: flex;
     }
     @media (max-width:$mb445){
      display: none;
     }
     li {
      display: inline;
      margin-left: 1rem;
      cursor: pointer;
      margin: 5px 25px 5px 5px;
      color: red;
      transition: 0.2s;
      &:hover{
       font-size: 1.5rem;
      }
     }
    }
    .uln{
      display: block;
    }
   }
  }
 }

.play-music {
 display: flex;
 position: fixed;
 bottom: 50px;
 right: 50px;
 z-index: 50;
}

.music-animation {
 display: flex;
 margin-right: 10px;
 align-items: flex-end;
 position: relative;
 top: -5px;
 &.on {
  .bar {
   animation: bar 1.2s infinite;
  }
  .bar2 {
   animation-delay: 0.1s;
  }
  .bar3 {
   animation-delay: 0.2s;
  }
  .bar4 {
   animation-delay: 0.3s;
  }
  .bar5 {
   animation-delay: 0.4s;
  }
 }
}
.music-toggle {
 cursor: pointer;
 font-size: 20px;
 position: relative;
 &:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: white;
  position: absolute;
  transition: 0.2s;
 }
 &:hover:after {
  width: 100%;
 }
}
.bar {
 width: 1px;
 background-color: white;
 height: 2px;
 display: block;
 margin: 0 1px;
}

@keyframes bar {
 0% {
  height: 4px;
 }
 50% {
  height: 14px;
 }
 100% {
  height: 4px;
 }
}

//-----navbar menu

.menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  @media (max-width:$mb445){
    display: flex;
   }
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


//--------------footer


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: $pagewordColor;
  @extend %z3;
  position: relative;
  background-color: #414141c9;
  ul{
   padding: 0;
   display: inline-flex;
   li{
    display: inline;
    padding:0 20px;
   }
  }
  @media (max-width:$lp1024){
   height: 100%;
  }
 }
 .lineBtn {
  span{
   display: none;
 
  }
 }