.contact {
  z-index: 3;
}

* {
  color: #fff;
  font-family: "Arapey","Microsoft YaHei";
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.fog .bg1, .fog .bg2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: contain;
  height: 100vh;
  margin: 0;
  width: 100%;
  opacity: 0.5;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  min-width: fit-content;
}

.open {
  min-height: 100% !important;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 4;
}

.open .symbol {
  background-image: url(../symbol/sl.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 85px;
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
}

.fog {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.fog .bg1 {
  background-image: url("../index-img/town.jpg");
  animation: bg1 3s linear infinite;
  animation-direction: alternate;
}

.fog .bg2 {
  background-image: url("../index-img/rust.jpg");
  animation: bg2 3s linear infinite;
  animation-direction: alternate;
}

@media (max-width: 445px) {
  .fog .absolute-bg {
    transform: scale(3.5);
  }
}

.fog .fog-container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fog .fog-container .first-img {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog .fog-container .second-img {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 40s linear infinite;
}

.fog .fog-container .fog-img {
  width: 20000px;
  height: 100vh;
}

@media (max-width: 445px) {
  .fog .fog-container .fog-img {
    height: 100%;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes bg1 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg2 {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}

.dark-header {
  background-color: #5f5f5f75;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px;
  opacity: 1;
  transition: 0.6s;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-areas: "logo navlist navlist navlist navlist navlist";
}

@media (max-width: 445px) {
  .dark-header {
    grid-template-areas: "logo . . . navlist navlist";
  }
}

.dark-header .brand-logo {
  grid-area: logo;
  width: 100%;
}

.dark-header .brand-logo .logo {
  width: 50px;
  margin: 0.5rem;
}

.dark-header .content {
  grid-area: navlist;
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.dark-header .content .main-nav {
  display: inline-flex;
}

.dark-header .content .main-nav .ul-nav {
  color: red;
}

@media (min-width: 2560px) {
  .dark-header .content .main-nav .ul-nav {
    display: flex;
  }
}

@media (max-width: 445px) {
  .dark-header .content .main-nav .ul-nav {
    display: none;
  }
}

.dark-header .content .main-nav .ul-nav li {
  display: inline;
  margin-left: 1rem;
  cursor: pointer;
  margin: 5px 25px 5px 5px;
  color: red;
  transition: 0.2s;
}

.dark-header .content .main-nav .ul-nav li:hover {
  font-size: 1.5rem;
}

.play-music {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 50;
}

.music-animation {
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  position: relative;
  top: -5px;
}

.music-animation.on .bar {
  animation: bar 1.2s infinite;
}

.music-animation.on .bar2 {
  animation-delay: 0.1s;
}

.music-animation.on .bar3 {
  animation-delay: 0.2s;
}

.music-animation.on .bar4 {
  animation-delay: 0.3s;
}

.music-animation.on .bar5 {
  animation-delay: 0.4s;
}

.music-toggle {
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.music-toggle:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: white;
  position: absolute;
  transition: 0.2s;
}

.music-toggle:hover:after {
  width: 100%;
}

.bar {
  width: 1px;
  background-color: white;
  height: 2px;
  display: block;
  margin: 0 1px;
}

@keyframes bar {
  0% {
    height: 4px;
  }
  50% {
    height: 14px;
  }
  100% {
    height: 4px;
  }
}

.menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 445px) {
  .menu {
    display: flex;
  }
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #fff;
  position: relative;
  background-color: #414141c9;
}

.contact ul {
  padding: 0;
  display: inline-flex;
}

.contact ul li {
  display: inline;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .contact {
    height: 100%;
  }
}

.lineBtn span {
  display: none;
}

section {
  z-index: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

section img {
  width: 100%;
  display: flex;
}

@media (min-width: 1024px) {
  section img {
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  section img {
    width: 80%;
  }
}

@media (max-width: 445px) {
  section img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  section {
    min-height: 85vh;
  }
}

@media (min-width: 445px) {
  .play-music {
    display: flex;
  }
}

@media (max-width: 445px) {
  .play-music {
    display: none;
  }
}

.grid {
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  position: relative;
}

.grid-experience {
  grid-template-areas: ". h1 h1 h1 h1 ." ". photo photo exp exp .";
}

.grid-experience h1 {
  grid-area: h1;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .grid-experience {
    grid-template-areas: ". h1 h1 h1 h1 ." "photo photo photo exp exp exp";
  }
}

@media (max-width: 445px) {
  .grid-experience {
    grid-template-areas: ". h1 h1 h1 h1 ." "photo photo photo photo photo photo" "exp exp exp exp exp exp";
  }
}

.grid-experience .photo-container {
  grid-area: photo;
}

@media (max-width: 445px) {
  .grid-experience .photo-container {
    overflow-y: auto;
  }
}

.grid-experience .photo-container .photo-Slides {
  height: 480px;
  padding: 30px 0 10px 20px;
}

@media (min-width: 1024px) {
  .grid-experience .photo-container .photo-Slides {
    min-height: 400px;
  }
}

@media (max-width: 445px) {
  .grid-experience .photo-container .photo-Slides {
    overflow-y: auto;
  }
}

.grid-experience .photo-container .photo-Slides img {
  height: 480px;
  object-fit: cover;
}

.grid-experience .exp-intro {
  grid-area: exp;
}

.grid-experience .exp-intro .exp-Slides {
  align-content: center;
  text-align: center;
  padding: 30px;
}

@media (max-width: 445px) {
  .grid-experience .exp-intro .exp-Slides {
    position: relative;
    bottom: 50px;
  }
}

.grid-experience .exp-intro .exp-Slides .during {
  padding-bottom: 50px;
}

.grid-experience .exp-intro .exp-Slides .company-name {
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem;
}

.grid-experience .exp-intro .exp-Slides .see-more {
  text-align: initial;
  line-height: 1.3rem;
}
/*# sourceMappingURL=work-detail.css.map */